package components

templ Passport() {
	<div>
		<img src="matricula.jpg" alt=""/>
		<p>Hi! My name is:</p>
		<p>Name</p>
		<p>My entrepreneurship is:</p>
		<p>Entrepreneurship Name</p>
		<p>Position</p>
	</div>
}
