package views

templ Products() {
	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Stock</th>
			<th>Accion</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Nombre Test</td>
			<td>25.99</td>
			<td>12</td>
			<td>Editar</td>
			<td>Borrar</td>
		</tr>
		<p>Total: <span>12</span></p>
	</table>
}
