package views

templ Profile() {
	<main>
		<h2>Bienvenido</h2>
		<img src="/uploads/matricula.jpg" alt=""/>
		<p>Username</p>
		<div>
			<button>Productos</button>
			<button>Configuraicon</button>
		</div>
		<div>
			<button>Mi Organizacion</button>
		</div>
	</main>
	<div>
		<button>Descarga tu lista de productos</button>
	</div>
}
